<body>
  <!-- ABOUT ME -->
  <div class="ui container">
    <h2>About Me</h2>
    <div class=""><hr><br></div>
    <div class="ui centered stackable grid">
      <div class="ui sixteen wide column">
        <img class="ui small left floated image" src="/images/about/hs1.jpg">
        <p><span class="first-letter">L</span>et's jump into it!  I've been coding since 2016, working in both <strong>JavaScript</strong> and <strong>Ruby</strong>.  In that time, I've been lucky to work at some great tech companies such as <strong>Fitbit</strong>, <strong>Castlight Health</strong>, and <strong>Afterpay</strong>.  I've also learned several useful full-stack technologies, including <strong>Node.js</strong>, <strong>React JS</strong>, <strong>Angular JS</strong>, and <strong>Rails</strong>.</p>
        <img class="ui small right floated image" src="/images/about/hs2.png">
        <p>I'm very passionate about developing software - it gives me an outlet for my creativity while satisfying my interests in technology.  I enjoy the balance of design and development inherent to web engineering.</p>
        <p>Otherwise, I like spending time outdoors.  I enjoy hiking, camping, climbing, and backpacking.  Some pictures of my adventures can be found around this site.  Other hobbies include gardening, gaming, art, and history.<br><br>A comprehensive list of relevant tech skills can be found below.</p>
      </div>
      <div class="ui row">
        <img class="banner-img" src="/images/about/rad3.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- TECH SKILLZ LIST -->
  <div class="ui container stack-panel">
    <div class="ui grid">
      <!-- Row One -->
      <div class="ui row">
        <div class="stack-list ui column four wide">
          <a href="https://www.javascript.com/" target="_blank">
            <i class="devicon-javascript-plain"></i>
            <p>JavaScript</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://www.ruby-lang.org/" target="_blank">
            <i class="devicon-ruby-plain"></i>
            <p>Ruby</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">
            <i class="devicon-html5-plain"></i>
            <p>HTML5</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://www.java.com/" target="_blank">
            <i class="devicon-java-plain"></i>
            <p>Java</p>
          </a>
        </div>
      </div>
      <!-- Row Two -->
      <div class="ui row">
        <div class="stack-list ui column four wide">
          <a href="https://reactjs.org/" target="_blank">
            <i class="devicon-react-plain"></i>
            <p>ReactJS</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://rubyonrails.org/" target="_blank">
            <i class="devicon-rails-plain"></i>
            <p>Rails</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
            <i class="devicon-css3-plain"></i>
            <p>CSS3</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://www.php.net/" target="_blank">
            <i class="devicon-php-plain"></i>
            <p>PHP</p>
          </a>
        </div>
      </div>
      <!-- Row Three -->
      <div class="ui row">
        <div class="stack-list ui column four wide">
          <a href="https://angular.io/" target="_blank">
            <i class="devicon-angularjs-plain"></i>
            <p>Angular JS</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://github.com/" target="_blank">
            <i class="devicon-github-plain"></i>
            <p>Git, Github</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://getbootstrap.com/" target="_blank">
            <i class="devicon-bootstrap-plain"></i>
            <p>Bootstrap</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://isocpp.org/" target="_blank">
            <i class="devicon-cplusplus-plain"></i>
            <p>C++</p>
          </a>
        </div>
      </div>
      <!-- Row Four -->
      <div class="ui row">
        <div class="stack-list ui column four wide">
          <a href="https://expressjs.com/" target="_blank">
            <i class="devicon-nodejs-plain"></i>
            <p>Node.js, Express</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://www.heroku.com/" target="_blank">
            <i class="devicon-heroku-plain"></i>
            <p>Heroku</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://sass-lang.com/" target="_blank">
            <i class="devicon-sass-plain"></i>
            <p>Sass</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://www.adobe.com/creativecloud.html" target="_blank">
            <i class="devicon-photoshop-plain"></i>
            <p>Adobe Creative Cloud</p>
          </a>
        </div>
      </div>
      <!-- Row Five -->
      <div class="ui row">
        <div class="stack-list ui column four wide">
          <a href="https://www.mongodb.com/" target="_blank">
            <i class="devicon-mongodb-plain"></i>
            <p>MongoDB</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://www.postgresql.org/" target="_blank">
            <i class="devicon-postgresql-plain"></i>
            <p>PostgreSQL</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://jquery.com/" target="_blank">
            <i class="devicon-jquery-plain"></i>
            <p>jQuery</p>
          </a>
        </div>
        <div class="stack-list ui column four wide">
          <a href="https://en.wikipedia.org/wiki/Content_management_system" target="_blank">
            <i class="devicon-wordpress-plain"></i>
          </a>
          <p>Wordpress & CMS</p>
        </div>
      </div>
    </div>
  </div>
  <div class=""><br><hr><br></div>
</body>
