<head>
  <link rel="stylesheet" href="/css/social.css">
</head>


<body>
  <!-- SOCIAL MEDIA ICONS -->
  <div class="ui container">
    <h2>Social Media</h2>
    <div class=""><hr><br></div>
    <div class="ui centered stackable grid">
      <div class="column four wide">
        <a href="https://www.github.com/wakaspar" target="_blank">
          <i class="massive github icon" aria-hidden="true"></i>
        </a>
      </div>
      <div class="column four wide">
        <a href="https://www.linkedin.com/in/wakaspar/" target="_blank">
          <i class="massive linkedin alternate icon" aria-hidden="true"></i>
        </a>
      </div>
      <div class="column four wide">
        <a href="https://www.instagram.com/kasparthefriendlyghost/" target="_blank">
          <i class="massive instagram icon" aria-hidden="true"></i>
        </a>
      </div>
      <div class="column four wide">
        <a href="https://www.facebook.com/wakaspar" target="_blank">
          <i class="massive facebook icon" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="horizontal-line"><br><hr><br></div>
</body>
